<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Highcharts Example</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
    <div id="cycleTimeChart"></div>
    <div id="leadTimeChart"></div>
    <div id="chartContainer"></div>
    <script th:inline="javascript">
        /* Obtener los datos de los mapas */
        var cycleTimeData = /*[[${cycleTimeMap}]]*/ {};
        var leadTimeData = /*[[${leadTimeMap}]]*/ {};

        /* Configuración del gráfico de Cycle Time */
        Highcharts.chart('cycleTimeChart', {
            title: {
                text: 'Gráfico de Cycle Time'
            },
            xAxis: {
                categories: Object.keys(cycleTimeData)
            },
            yAxis: {
                title: {
                    text: 'Días'
                }
            },
            series: [{
                name: 'Cycle Time',
                data: Object.values(cycleTimeData)
            }]
        });

        /* Configuración del gráfico de Lead Time */
        Highcharts.chart('leadTimeChart', {
            title: {
                text: 'Gráfico de Lead Time'
            },
            xAxis: {
                categories: Object.keys(leadTimeData)
            },
            yAxis: {
                title: {
                    text: 'Días'
                }
            },
            series: [{
                name: 'Lead Time',
                data: Object.values(leadTimeData)
            }]
        });

        // Obtener el mapa de acumuladoTerminadas desde el modelo
  const acumuladoTerminadas = [[${acumuladoTerminadas}]];
  
  // Obtener las claves y valores del mapa
  const categories = Object.keys(acumuladoTerminadas);
  const data = Object.values(acumuladoTerminadas);
  
  // Crear la gráfica de barras
  Highcharts.chart('container-barra', {
    chart: {
      type: 'column'
    },
    title: {
      text: 'Historias de Usuario Terminadas por Fecha'
    },
    xAxis: {
      categories: categories,
      title: {
        text: 'Fecha'
      }
    },
    yAxis: {
      min: 0,
      title: {
        text: 'Cantidad de Historias'
      }
    },
    series: [{
      name: 'Historias Terminadas',
      data: data
    }]
  });
    </script>
</body>
</html>
